var url = domain + path;
var options = {
timeout: parameters.$timeout,
method: '{{method}}',
url: url,
params: queryParameters,
body: body,
headers: headers
};
if(Object.keys(form).length > 0) {
options.body = form;
options.headers['Content-Type'] = 'application/x-www-form-urlencoded';
options.emulateJSON = true;
}

const req=Vue.http(options);
return req;
